

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
	background-image: asset-url('Chicago.JPG');
	background-size: cover;
	height: 450px;
}

.jumbotron h1 {
	color: #fff;
	margin-bottom: 30px
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: right;
}

footer ul {
	float: left;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}



